<div>
    <p></p>

    <div class="col-sm-10 col-sm-offset-1">
        <form class="form-horizontal" name="queryhandler_edit_form" ng-submit="save_query_handler(queryhandler_edit_form.$valid)"
              novalidate >
            <div class="form-group">
                <label class="col-sm-2 control-label">RESTful接口名称</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="mirror_handler.name" class="form-control" placeholder="RESTful接口名称"
                           name="name" required ng-minlength="5">
                    <div class="error-messages"
                         ng-if="interacted(submitted,queryhandler_edit_form.name)"
                         ng-messages="queryhandler_edit_form.name.$error"
                         ng-messages-include="form-messages">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源类型</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="mirror_handler.res_type" class="form-control" placeholder="资源类型"
                            name="res_type" required>
                    <div class="error-messages"
                         ng-if="interacted(submitted,queryhandler_edit_form.res_type)"
                         ng-messages="queryhandler_edit_form.res_type.$error"
                         ng-messages-include="form-messages">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">HTTP操作</label>

                <div class="col-sm-10">
                    <label class="checkbox-inline"><input type="checkbox" ng-model="mirror_handler.http_method_view_model.GET">GET</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="mirror_handler.http_method_view_model.POST">POST</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="mirror_handler.http_method_view_model.PUT">PUT</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="mirror_handler.http_method_view_model.DELETE">DELETE</label>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">请求过滤条件逻辑关系</label>

                <div class="col-sm-10">
                    <select class="form-control" ng-model="mirror_handler.filter.union_operator"
                            ng-options="type_temp.value as type_temp.display_value for type_temp in template_data.filter_union_operator"
                            name="union_operator" required>
                    </select>
                    <div class="error-messages"
                         ng-if="interacted(submitted,queryhandler_edit_form.union_operator)"
                         ng-messages="queryhandler_edit_form.union_operator.$error"
                         ng-messages-include="form-messages">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">请求过滤条件</label>

                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="add_filter_row()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="delete_filter_row()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div ui-grid="filter_options" ui-grid-selection ui-grid-edit ui.grid.autoResize></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">请求解析器</label>

                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="add_parser_row()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="delete_parser_row()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div ui-grid="data_parser_fields" ui-grid-edit ui-grid-selection></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">数据仓库</label>

                <div class="col-sm-10">
                    <div ui-grid="destination_list_grid" ui-grid-edit ui-grid-selection></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">响应数据处理</label>

                <div class="col-sm-10">
                    <textarea class="form-control" rows="8" ng-model="mirror_handler.response_jsonstr"></textarea>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-1 col-sm-offset-1">
                    <button type="submit" class="btn btn-primary btn-sm btn-block " >
                        保存
                    </button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary  btn-sm btn-block" ng-click="close_tab()">取消
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>