<div >

    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-primary btn-xs" ng-click="create('lg')">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <input type="text" placeholder="过滤字段" ng-model="search_text"/>

    <!--
    <table class="table table-striped table-responsive  ">
        <thead>
        <tr>
            <th>数据流名称</th>
            <th>触发器</th>
            <th>数据源</th>
            <th>数据终点</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="river in rivers">
            <td>{{ river.name }}</td>
            <td>{{ river.notification |json| limitTo:100 |add_dots:4 }}</td>
            <td>{{ river.source |json| limitTo:100|add_dots:4 }}</td>
            <td>{{ river.destination |json| limitTo:100 |add_dots:4 }}</td>
        </tr>
        </tbody>
    </table>-->

    <ad-table-lite table-name="riverList"
                   column-definition="riverTableColumnDefinition"
                   local-data-source="rivers"
                   page-sizes="[10, 20]"
                   pagination-btn-group-classes="pagination pagination-sm"
                   table-classes="table table-bordered"
                   on-click-sort-direction="DEC"
                   snug-sort-icons="true"
                   search-text="search_text"
                   row-expand-template="../static/manage/partials/datariver/datariver.river.detail.html"
                   row-expand-callback="rowExpanded">
    </ad-table-lite>
</div>