<!doctype html>
<html lang="en" ng-app="manageApp">
<head>
    <meta charset="utf-8">
    <title>搜索平台数据管理</title>
    <link rel="stylesheet" href="/static/module/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/module/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/static/module/adapt-strap/dist/adapt-strap.min.css"/>
    <script src="/static/module/jquery/jquery.js"></script>
    <script src="/static/module/angular/angular.js"></script>
    <script src="/static/module/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/module/bootstrap/js/bootstrap.js"></script>
    <script src="/static/module/angular-route/angular-route.js"></script>
    <script src="/static/module/angular-resource/angular-resource.js"></script>
    <script src="/static/module/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/static/module/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/static/module/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/module/adapt-strap/dist/adapt-strap.js"></script>
    <script src="/static/module/adapt-strap/dist/adapt-strap.tpl.js"></script>
    <script src="/static/manage/js/app.js"></script>
    <script src="/static/manage/js/controllers.js"></script>
    <script src="/static/manage/js/filters.js"></script>
    <script src="/static/manage/js/services.js"></script>
</head>
<body>
<div class="container-fluid">
    <p>process.log.html</p>
    <p>{{ logs }}</p>
</div>
</body>
</html>
