<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="刘兆明 <liuzhaoming@qianmi.com>">
    <title>日志浏览</title>
    <link rel="stylesheet" href="/static/module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/module/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container" id="id_product_main">
    {% for line in result %}
        <p>{{ line }}</p>
    {% endfor %}
</div>

</body>
</html>